[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://chromium.googlesource.com/external/jsoncpp
[submodule "RakNet"]
	path = RakNet
	url = https://github.com/oldminecraftcommunity/RakNet
[submodule "OpenAES"]
	path = OpenAES
	url = https://github.com/oldminecraftcommunity/OpenAES
